<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>Admin page</h1>
<form action="#" th:action="@{/user}">
    <input type="submit" value="My information"/>
</form>
<br>
<form action="#" th:action="@{/admin/user-create}" method="get">
    <input type="submit" value="Add new user"/>
</form>
<br>
<div th:insert="logout-fragment :: copy"></div>
<br>
<br>
<div th:switch="${users}">
    <h2 th:case="null">Currently there are no users</h2>
    <div th:case="*">
        <table>All users
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"/>
                <td th:text="${user.getUsername()}"/>
                <td th:text="${user.getAge()}"/>
                <td th:text="${user.getEmail()}"/>
                <td th:text="${user.getRoles()}"/>
                <td>
                    <a th:href="@{/admin/{id}/user-update(id=${user.getId()})}">Update</a>
                </td>
                <td>
                    <a th:href="@{/admin/{id}/user-delete(id=${user.getId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>