<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>User</title>
</head>
<body>
<h1>User, welcome!</h1>
<br>
<table>User info
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Age</th>
            <th>e-mailEMAIL</th>
            <th>role</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
    </tbody>
</table>
<br>
<form  action="#"  th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>
</body>
</html>


