<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>[[${#request.remoteUser}]]</title>
</head>
<body>
<h1>Welcome, [[${#request.remoteUser}]]!</h1>
<br>
<table>Your info:
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
    </tbody>
</table>
<br>
<div th:insert="logout-fragment :: copy"></div>
</body>
</html>


